body {
  font-family: 'Roboto Mono',monospace;
  min-height: 400px;
  background-image: url('https://cdn.pixabay.com/photo/2016/11/23/15/23/cosmos-1853491_960_720.jpg');
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}

h2 {
  position: absolute;
  top: 300px;
  left: 150px;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffff00;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  left:10px;
}
